﻿@model WebApplication.Models.Device
@{
    ViewBag.Title = Model.clientValue;
}
<h2>Устройство @Model.clientValue</h2>
<div>
    <dl class="dl-horizontal">
        <dt>Топик</dt>
        <dd>@Model.topicValue</dd>

        <dt>Тип</dt>
        <dd>@Model.typeValue</dd>
    </dl>
</div>