﻿@model IEnumerable<WebApplication.Models.Device>
@{
    ViewBag.Title = "State";
}

<table class="table">
    <tr>
        <td>Устройство</td>
    </tr>
    @foreach (var devices in Model)
    {
<tr>
    <td>@devices.clientValue</td>
    <td>
        <a asp-action="Details" asp-controller="Device" asp-route-id="@devices.Id">Подробнее</a>
    </td>
</tr>
    }
</table>
