﻿@model WebApplication.Models.User
@{
    ViewBag.Title = "Удаление пользователя";
}

<div>
    <dl class="dl-horizontal">
        <dt>Имя</dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>Возраст</dt>
        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>
    </dl>

    <div>
        <form asp-controller="Database" asp-action="Delete" asp-route-id="@Model.Id" method="post">
            <div class="form-group">
                <input type="submit" class="btn btn-default" value="Удалить" />
            </div>
        </form>
    </div>
</div>