﻿@model IEnumerable<WebApplication.Models.User>
@{
    ViewBag.Title = "Все пользователи";
}
<a asp-action="Create">Добавить пользователя</a>
<a asp-action="LogView">Просмотр лога</a>
<table class="table">
    <tr>
        <td>ID</td>
        <td>Имя</td>
        <td>Возраст</td>
        <td>Функции</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Age</td>
            <td>
                <a asp-action="Details" asp-controller="Database" asp-route-id="@item.Id">Подробнее</a> |
                <a asp-action="Edit" asp-controller="Database" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="ConfirmDelete" asp-controller="Database" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
    }
</table>
