﻿
@{
    ViewData["Title"] = "Test";
}

<h1>Test</h1>

<form method="post">
    <label>Логин:</label><br />
    <input type="text" name="login" /><br /><br />
    <label>Пароль:</label><br />
    <input type="text" name="password" /><br /><br />
    <input type="submit" value="Отправить" />
</form>
